
/* Section3 Nouran Mamdouh 25-4003 */
/**** General Styles ****/

.section3{
  padding: 90px;
}
.title-section3{
  margin-bottom: -50px;
  width: 210px;
  height: 80px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Raleway';
  margin-left: 10px;
}
.title-section3 h1{
  color: #000000;
  margin-bottom: -8px;
  font-weight: bold;
}
/*span { font-weight: bold; }*/
.title-section3 p{
  color: #545454;
}
.items div{
  display: inline-block;
  font-size: 11px;
  color: #000000;
}
.items h1{
  margin-top: 40px;
  color: #545454;
  font-size: 15px;
  margin-left: 70px;
}
.items p{
  margin-top: -2px;
  margin-left: 70px;
  color: #7e7e7e;
}
.items img{
  margin-top: 40px;
  float: left;
  width: 50px;
  height: 50px;
}
.more-features{
  margin-top: 30px;
  margin-left: 440px;
}
.more-features a{
  text-transform: uppercase;
  color: white;
  background: #52C9E0;
  text-decoration: none;
  border-radius: 25px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 6px;
}
.special-img {
  width: 1056px;
  text-align: right;
  border-bottom: 0.5px solid #D4F1F7;
  margin-top: 10px;
}
.special-img img {
  width: 120px;
  height: 60px;
  margin-bottom: -4.5px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/***** Slider *******/
.home-slider {
  width: 100%;
  height: 750px;
  margin-bottom: 0;
}
.home-slider > div {
  width: 100%;
  height: 100%;
  text-align: center;
  background:url('../images/slide.png') 50% 50% no-repeat no-repeat #CCCCCC;
}
/* home-slider Dots */
.home-slider .slick-dots {
  position: absolute;
  bottom: 40px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.slide-title {
  font-size: 48px;
  text-transform: uppercase;
  margin-top: 340px;
  margin-bottom: 20px;
}
.slide-sub-title {
  font-size: 14px;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/****** General Section Styles *******/

.section-info {
  margin: 100px 0 40px 0;
}
.section-title { /*l*/
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #23282f;
}
.section-sub-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #4d4d4d;
}
.section-text{
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  color: #4d4d4d;
  line-height: 1.5;
}
.subsection-container{
  position: relative;
  padding: 25px 0;
}
.subsection-container:first-of-type {
  padding-top: 0;
}
.subsection-text-container{
  margin-top: -4px;
}
.subsection-text{
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  color: #4d4d4d;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.subsection-title{
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0px 5px 0;
  margin: 0px;
}

section.startup-section{
  padding-bottom: 0;
}
.startup-section .col-5 .subsection-container:first-of-type {
  margin-top: 7px;
}
.startup-section button.default {
  margin-top: 25px;
}

.icon-services{
  background: #e5eef0;
  text-align: center;
  width: 67px;
  height: 67px;
  line-height: 67px;
}
.icon-services:hover{
  background-color: #f7941d;
}

.colored-section { /*Add background color to section*/
  background: #e5eef0;

}

/* Testimonials */

.testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
}

.testimonials blockquote {
  font-style: italic;
  font-size: 15px;
  color: #4d4d4d;
  line-height: 1.5;
  margin-top: 40px;
}
.quote-icon {
  margin-top: 40px;
}
.testimonials .quote-icon::after {
  font-family: FontAwesome;
  font-size: 60px;
  content: "\f10d";
}

.clients-logos {
  margin-top: 100px;
}

.logos-bullets {
  text-align: center;
}

.logos-bullets button {
  width:  15px;
  height: 15px;
  margin: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.logos-bullets button.bullet-active {
  background: #F59331;
}

.testimonials blockquote > .qoute-author span {
  color: #F59331;
}

.qoute-author {
  margin: 40px 0;
}

/****Pricing Tables****/

div.single-scheme {
  width: 260px;
  height: 425px;
  border: 1px solid #E6EDEE;
  text-align: center;
  padding: 35px 0px;
  background: #fff;

}
.single-scheme p {
  width: 100%;
  border: 1px solid #E6EDEE;
  border-right: 0px;
  border-left: 0px;
  line-height: 60px;
}

.single-scheme p > span {
  color: #F59331;
}
.single-scheme-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}
.single-scheme ul.single-scheme-advantages {
  width: 100%;
  height: 200px;
}

.single-scheme-advantages li {
  margin: 25px 0;
}

div.featured-scheme {
  background: url('../images/recommended-strip.png') 0% 0% no-repeat no-repeat #fff;
  box-shadow: 0px 0px 50px 10px #EEF1F4;
}

/******Team*******/

section.team {
  padding-bottom: 100px;
}
div.employee-info {
  background: #fff;
  width: 263px;
/*  width: 263px;
  height: 400px;*/
}

div.employee-data {
  width: 263px;
  height: 125px;
  padding-left: 30px;

}

h5.employee-name {
  text-transform: uppercase;
  margin-bottom: 5px;
}

p.employee-position {
  color: #F59331;
}

div.employee-social-icons {
  color: #ADBDC1;
}

div.employee-social-icons > i {
  padding: 0 5px;
}

button.sub-default{
  font-family: 'Karla';
  font-size: 15px;
  color: #ffffff;
  background-color: #f7941d;
  width: 140px;
  height: 38px;
  line-height: 38px;
  border-radius: 38px;
  text-transform: uppercase;
}
.contacting-container-title{
  font-family: 'Karla', sans-serif;
  font-size: 30px;
  margin-bottom: -16px;
}
.contacting-container-subtitle{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #93a1a7;
  margin-bottom: 30px;
}
.highlight-text{
  color: #f7941d;
}


