/**** General Styles ****/

/* Slider */
.home-slider {
  width: 100%;
  height: 750px;
  margin-bottom: 0;
}
.home-slider > div {
  width: 100%;
  height: 100%;
  text-align: center;
  background:url('../images/slide.png') 50% 50% no-repeat no-repeat #CCCCCC;
}
/* home-slider Dots */
.home-slider .slick-dots {
  position: absolute;
  bottom: 40px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.slide-title {
  font-size: 48px;
  text-transform: uppercase;
  margin-top: 340px;
  margin-bottom: 20px;
}
.slide-sub-title {
  font-size: 14px;
}

/* Section title & subtitle*/
.section-info {
  margin: 100px 0 40px 0;
}
.section-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #23282f;
}
.section-sub-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #4d4d4d;
}
.section-text {
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  color: #4d4d4d;
  line-height: 1.5;
}
.subsection-container {
  position: relative;
  padding: 25px 0;
}
.subsection-container:first-of-type {
  padding-top: 0;
}
.subsection-container .col-1,
.subsection-container .col-2 {
  margin-top: -4px;
}
.subsection-text-container {
  margin-top: -4px;
}
.subsection-text {
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  color: #4d4d4d;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.subsection-title {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0px 5px 0;
  margin: -4px 0 0 0;

}
.colored-section { /*Add background color to section*/
  background: #e5eef0;
}

/* index page - startup*/
section.startup-section {
  padding-bottom: 0;
}
.startup-section .col-5 .subsection-container:first-of-type {
  margin-top: 7px;
}
.startup-section button.default,
.features-section button.default {
  margin-top: 25px;
}
.icon-services{
  background: #e5eef0;
  text-align: center;
  width: 67px;
  height: 67px;
  line-height: 67px;
}
.icon-services:hover{
  background-color: #f7941d;
}

/* index page - testimonials */
section .testimonials {
  height: 500
}
.testimonials blockquote {
  font-style: italic;
  font-size: 15px;
  color: #4d4d4d;
  line-height: 1.5;
  margin: 40px;
}
.quote-icon {
  margin-top: 40px;
}
.testimonials .quote-icon::after {
  font-family: FontAwesome;
  font-size: 60px;
  content: "\f10d";
}
.testimonials blockquote > .qoute-author span {
  color: #F59331;
}
.testimonials blockquote > .qoute-author span::before {
  content: ' ';
  display: block;
}
.qoute-author {
  margin: 40px 0;
}
.clients-logos {
  margin-top: 100px;
}
.logos-bullets {
  text-align: center;
}
.logos-bullets button {
  width:  15px;
  height: 15px;
  margin: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.logos-bullets button.bullet-active {
  background: #F59331;
}

/* index page - features*/
.features-section {
  padding-bottom: 0;
}
.features-section > .container {
  border-bottom: 0.5px solid #D4F1F7;
}
.features-section .special-image {
  height: 109px;
}
.features-section .special-image img {
  float: right;
}

/* index page - pricing-tables */
section.pricing-tables > .row,
section.team > .row,
section .grid-container,
section .items-container {
  margin-top: 35px;
}
.single-scheme {
  height: 425px;
  border: 1px solid #E6EDEE;
  text-align: center;
  padding: 35px 0px;
  background: #fff;
  position: relative;
}
.single-scheme p {
  width: 100%;
  border: 1px solid #E6EDEE;
  border-right: 0px;
  border-left: 0px;
  line-height: 60px;
}
.single-scheme p > span {
  color: #F59331;
}
.single-scheme button {
  position: absolute;
  bottom: 36px;
  left: 25%;
}
.single-scheme-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}
ul.single-scheme-advantages {
  padding: 0;
}
.single-scheme-advantages li {
  margin: 25px 0;
}
.featured-scheme {
  background: url('../images/recommended-strip.png') -1% -1% no-repeat no-repeat #fff;
  box-shadow: 0px 0px 50px 10px #EEF1F4;
}

/* index page - team */
section .grid-items-container {
  margin-top: 35px;
}
.grid-item {
  background: #fff;
  width: 263px;
  height: 400px;
}
.grid-item-data {
  width: 263px;
  height: 125px;
  padding: 24px 28px 24px 28px;
}
.grid-item-title {
  text-transform: uppercase;
  padding: 5px 0;
  margin: 0;
}
.grid-item-text {
  color: #F59331;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.grid-item-icons {
  color: #ADBDC1;
  margin-top: 10px;
}
.grid-item-icons > a {
  padding: 0 5px;
}
.grid-item-icons > a:first-of-type {
  padding: 0 5px 0 0;
}

/* index page - contact us */
.contact-us button {
  margin: 0 10px;
}
.contacting-container-title {
  font-family: 'Karla', sans-serif;
  font-size: 30px;
  margin-bottom: 0;
}
.contacting-container-subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #93a1a7;
  margin-bottom: 30px;
  margin-top: 0;
}
.highlight-text{
  color: #f7941d;
}
.transparent {
  background: #fff;
}

/* Separators */
.empty-space {
  height: 95px;
}
.colored-separator {
  margin: 70px 0px;
  border-top: 1px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #DDE8E8;
}

/* About us page*/
.single-record > .col-8 > span {
  font-weight: bold;
  font-size: 60px;
}
.single-record > .col-8 > p {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}
.single-record > .col-4 > img {
  padding-top: 10px;
}
/* Blog page --- Sidebar*/
.quick-search-form {
  position: relative;
}
.quick-search-form input {
  padding: 13px;
  border: 1px solid #dde8ea;
  height: 42px;
}
.quick-search-form button {
  text-align: left;
  overflow: hidden;
  text-indent: -9999px;
  background:url('../images/search-icon.png') 50% 50% no-repeat no-repeat #fff;
  height: 40px;
  width: 40px;
  color: #fff;
  vertical-align: bottom;
  position: absolute;
  left: 153px;
  top: 1px;
}
.sidebar-component__title {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  margin-top: 45px;
}
ul.sidebar-component__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  position: relative;
  font-family: 'Karla', sans-serif;
}
.sidebar-component__menu li {
  line-height: 35px;
  font-size: 13px;
}
.sidebar-component__menu li::after {
  font-family: FontAwesome;
  position: absolute;
  right: 0px;
  content: "\232A";
}

.sidebar-component__menu li:hover {
  color: #f7941d;
}
.featured-posts__single {
  font-family: 'Karla', sans-serif;
  margin-bottom: 30px;
}
.featured-posts__single__title {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 5px;
}
.featured-posts__single__comments {
  font-size: 14px;
  margin-top: 5px;
}
.featured-posts__single__comments span {
  color: #f7941d;

}
.flat-buttons button {
  height: 40px;
  padding: 0px 15px;
  margin: 10px 5px;
  background-color: #29c2e1;
  color: #fff;
  font-family: 'Karla', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}
/*Blog Page -- content*/
.blog-post {
  max-width: 828px;
}
h4.blog-post__heading {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 14px;

}
.blog-post__credits {
  font-family: 'karla', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
}

.blog-post__credits span {
  color: #f7941d;
}

.blog-post__excerpt p {
  font-size: 14px;
  font-family: 'karla', sans-serif;
}

.blog-post__excerpt {
  margin: 45px 0px;
}
