/**** General Styles ****/

/* Slider */
.home-slider {
  width: 100%;
  height: 750px;
  margin-bottom: 0;
}
.home-slider > div {
  width: 100%;
  height: 100%;
  text-align: center;
  background:url('../images/slide.png') 50% 50% no-repeat no-repeat #CCCCCC;
}
/* home-slider Dots */
.home-slider .slick-dots {
  position: absolute;
  bottom: 40px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.slide-title {
  font-size: 48px;
  text-transform: uppercase;
  margin-top: 340px;
  margin-bottom: 20px;
}
.slide-sub-title {
  font-size: 14px;
}

.slide-thumbnail {
  position: absolute;
  width: 73px;
  height: 81px;
  border-radius: 50%;
}

/* Section title & subtitle*/
.section-info {
  margin: 100px 0 40px 0;
}
.section-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #23282f;
}
.section-sub-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #4d4d4d;
}
.section-text {
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  color: #4d4d4d;
  line-height: 1.5;
}
.subsection-container {
  position: relative;
  padding: 25px 0;
}
.subsection-container:first-of-type {
  padding-top: 0;
}
.subsection-container .col-1,
.subsection-container .col-2 {
  margin-top: -4px;
}
.subsection-text-container {
  margin-top: -4px;
}
.subsection-text {
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  color: #4d4d4d;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.subsection-title {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0px 5px 0;
  margin: -4px 0 0 0;

}
.colored-section { /*Add background color to section*/
  background: #e5eef0;
}

/* index page - startup*/
section.startup-section {
  padding-bottom: 0;
}
.startup-section .col-5 .subsection-container:first-of-type {
  margin-top: 7px;
}
.startup-section button.default,
.features-section button.default {
  margin-top: 25px;
}
.icon-services{
  background: #e5eef0;
  text-align: center;
  width: 67px;
  height: 67px;
  line-height: 67px;
}
.icon-services:hover{
  background-color: #f7941d;
}

/* index page - testimonials */
section .testimonials {
  height: 500
}
.testimonials blockquote {
  font-style: italic;
  font-size: 15px;
  color: #4d4d4d;
  line-height: 1.5;
  margin: 40px;
}
.quote-icon {
  margin-top: 40px;
}
.testimonials .quote-icon::after {
  font-family: FontAwesome;
  font-size: 60px;
  content: "\f10d";
}
.testimonials blockquote > .qoute-author span {
  color: #F59331;
}
.testimonials blockquote > .qoute-author span::before {
  content: ' ';
  display: block;
}
.qoute-author {
  margin: 40px 0;
}
.clients-logos {
  margin-top: 100px;
}
.logos-bullets {
  text-align: center;
}
.logos-bullets button {
  width:  15px;
  height: 15px;
  margin: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.logos-bullets button.bullet-active {
  background: #F59331;
}

/* index page - features*/
.features-section {
  padding-bottom: 0;
}
.features-section > .container {
  border-bottom: 0.5px solid #D4F1F7;
}
.features-section .special-image {
  height: 109px;
}
.features-section .special-image img {
  float: right;
}

/* index page - pricing-tables */
section.pricing-tables > .row,
section.team > .row,
section .grid-container,
section .items-container {
  margin-top: 35px;
}
.single-scheme {
  height: 425px;
  border: 1px solid #E6EDEE;
  text-align: center;
  padding: 35px 0px;
  background: #fff;
  position: relative;
}
.single-scheme p {
  width: 100%;
  border: 1px solid #E6EDEE;
  border-right: 0px;
  border-left: 0px;
  line-height: 60px;
}
.single-scheme p > span {
  color: #F59331;
}
.single-scheme button {
  position: absolute;
  bottom: 36px;
  left: 25%;
}
.single-scheme-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}
ul.single-scheme-advantages {
  padding: 0;
}
.single-scheme-advantages li {
  margin: 25px 0;
}
.featured-scheme {
  background: url('../images/recommended-strip.png') -1% -1% no-repeat no-repeat #fff;
  box-shadow: 0px 0px 50px 10px #EEF1F4;
}

/* index page - team */
section .grid-items-container {
  margin-top: 35px;
}
.grid-item {
  background: #fff;
  width: 263px;
  height: 400px;
}
.grid-item-data {
  width: 263px;
  height: 125px;
  padding: 24px 28px 24px 28px;
}
.grid-item-title {
  text-transform: uppercase;
  padding: 5px 0;
  margin: 0;
}
.grid-item-text {
  color: #F59331;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.grid-item-icons {
  color: #ADBDC1;
  margin-top: 10px;
}
.grid-item-icons > a {
  padding: 0 5px;
}
.grid-item-icons > a:first-of-type {
  padding: 0 5px 0 0;
}

/* index page - contact us */
.contact-us button {
  margin: 0 10px;
}
.contacting-container-title {
  font-family: 'Karla', sans-serif;
  font-size: 30px;
  margin-bottom: 0;
}
.contacting-container-subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #93a1a7;
  margin-bottom: 30px;
  margin-top: 0;
}
.highlight-text{
  color: #f7941d;
}
.transparent {
  background: #fff;
}

/* Separators */
.empty-space {
  height: 95px;
}
.colored-separator {
  margin: 70px 0px;
  border-top: 1px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #DDE8E8;
}

/* About us page*/
.single-record > .col-8 > span {
  font-weight: bold;
  font-size: 60px;
}
.single-record > .col-8 > p {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}
.single-record > .col-4 > img {
  padding-top: 10px;
}

/* Blog page --- Sidebar*/
.quick-search-form {
  position: relative;
}
.quick-search-form input {
  padding: 13px;
  border: 1px solid #dde8ea;
  height: 42px;
  width: 100%;
}
.quick-search-form button {
  text-align: right;
  overflow: hidden;
  text-indent: -9999px;
  background:url('../images/search-icon.png') 50% 50% no-repeat no-repeat #fff;
  height: 40px;
  width: 40px;
  color: #fff;
  vertical-align: bottom;
  position: absolute;
  right: 1px;
  top: 1px;
  font-size: 0;
}
.sidebar-component__title {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  margin-top: 45px;
}
ul.sidebar-component__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  position: relative;
  font-family: 'Karla', sans-serif;
}
.sidebar-component__menu li {
  line-height: 35px;
  font-size: 13px;
}
.sidebar-component__menu li a {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
}
.sidebar-component__menu li a::after {
  font-family: FontAwesome;
  position: absolute;
  right: 0px;
  content: "\232A";
}

.sidebar-component__menu li:hover {
  color: #f7941d;
}
.featured-posts__single {
  font-family: 'Karla', sans-serif;
  margin-bottom: 30px;
  position: relative;
}
.featured-posts__single:hover img {
  opacity: 0.8;
}
.featured-posts__single__title {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 5px;
}
.featured-posts__single__comments {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0;
}
.featured-posts__single__comments span {
  color: #f7941d;

}
.flat-buttons button {
  height: 40px;
  padding: 0px 15px;
  margin: 10px 5px;
  background-color: #29c2e1;
  color: #fff;
  font-family: 'Karla', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

/*Blog Page -- content*/
.blog-post {
  margin-right: 20px;
}
.blog-post p {
  padding-right: 20px;
}
.blog-post__heading,
.comments-container h4,
.comment-form h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: -7px;
}

.blog-post__credits,
.comment__author-name,
.comment__date,
.comment__reply-option {
  font-family: 'karla', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
}

.blog-post__credits span {
  color: #f7941d;
}

.blog-post__excerpt p {
  font-size: 14px;
  font-family: 'karla', sans-serif;
}

.blog-post__excerpt {
  margin: 30px 0px;
}

/*Style Slick arrows for the blog-post gallery*/
.blog-gallery-post > button.slick-next {
  right:30px;
}

.blog-gallery-post > button.slick-prev {
  left:30px;
  z-index:999;
}
/***END OF SLICK customizations**/

/**Pagination**/
.paginate ul {
  padding: 0;
}
.paginate li {
  width: 42px;
  height: 42px;
  background: #29c2e1;
  color: #fff;
  text-align: center;
  line-height: 42px;
  display: inline-block;
  margin: 0 5px;
}
.paginate li.active,
.paginate li:hover {
  background: #f7941d;
}

/* Blog_post */
.blog-post__content {
  margin: 33px 0;
}
.blog-post__content p,
.blog-post__content div {
  margin: 0 0 30px 0;
}
.blog-post__content p {
  font-family: 'Open Sans';
  color: #55595f;
  line-height: 1.8;
}
.blog-post__accordion {
  text-transform: uppercase;
  color: #23282f;
  font-size: 13px;
  font-family: 'karla';
  padding: 9px;
}
.blog-post__accordion > div {
  margin: 0 0 0 98px;
  cursor: pointer;
  padding: 10px 0;
}
.blog-post__accordion > div::before {
  content: '\f00c';
  font-family: 'FontAwesome';
  color: #f7941d;
  font-size: 12px;
  padding: 11px;
}
.blog-post__author-info {
  min-height: 192px;
  background-color: #e3eef0;
  margin: 65px 0;
  width: 100%;
}
.blog-post__author-info > div {
  float: left;
}
.blog-post__author-info > div:nth-of-type(2) {
  width: 74%;
  margin: 45px 0;
}
.author-info__image {
  text-align: center;
  margin: 4.229167% 43px;
}
.author-info__image img {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  background-color: #8d8d8d;
}
.author-info__name {
  margin-top: 55px;
  font-size: 15px;
  font-family: 'Karla';
  text-transform: uppercase;
  margin: 8px 0;
}
.author-info__name span {
  color: #f7941d;
}
.author-info__description,
.comment__content {
  font-size: 14px;
  font-family: 'Open Sans';
  color: #55595f;
  margin: 17px 0;
}

.comments-container h4 {
  margin-bottom: 0;
}
.comments-container .comment:first-of-type {
  margin-top: 30px;
}
.comment {
  min-height: 130px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e5eef0;
  overflow: auto;
}
.comment#reply-on-comment {
  padding-left: 11.5%;
}
.comment p {
  margin: 0 0 16px 0;
}
.comment > div {
  float: left;
}
.comment > div:nth-of-type(2) {
  width: 88.4%;
}
.comment#reply-on-comment > div:nth-of-type(2) {
  width: 86.8%;
}
.comment__author-image {
  text-align: left;
  margin: 5px 30px 0 0;
}
.comment__author-image img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  background-color: #8d8d8d;
}
.comment__author-name::after {
  content: '|';
  display: inline-block;
  padding: 0 11px 0 13px;
}
.comment__date {
  font-size: 14px;
}
.comment__reply-option {
  float: right;
  color: #f7941d;
  font-size: 14px;
}
.comment__content {
  padding-right: 30px;
}

.comment-form h4 {
  margin-top: 90px;
}
.comment-form form {
  margin-top: 25px;
}
.comment-form form input,
.comment-form form textarea {
  height: 48px;
  width: 415px;
  border: 0;
  background-color: #e3eef0;
  padding: 20px 25px;
  font-size: 13px;
  color: #23282f;
  font-family: 'karla';
}
.comment-form form input::-webkit-input-placeholder,
.comment-form form textarea::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #23282f;
}
.comment-form form input {
  margin-bottom: 15px;
}
.comment-form form input:nth-of-type(2n) {
  margin-left: 15px;
}
.comment-form form textarea {
  width: 850px;
  height: 160px;
}
.comment-form form button {
  margin-top: 30px;
}

/* News Page */
section.news {
  border-bottom: 1px solid #e5eef0;
}
.news-items-container {
  margin-top: 25px;
  width: 360px;
  margin-right: 30px;
  display: inline-block;
  vertical-align: bottom;
}
.news-items-container:last-of-type {
  margin-right: 0;
}
.news-item__image,
.news-item__description {
  width: 100%;
  height: 378px;
  position: relative;
}
.news-item__image {
  background-color: #8d8d8d;
}
.news-item__description {
  background-color: #e5eef0;
  text-align: center;
  padding: 30px 40px;
}
.news-item:not(.reversed-order) .news-item__description::after {
  content: '';
  display: block;
  position: absolute;
  left: 43.9%;
  bottom: 100%;
  width: 0;
  height: 0;
  border-bottom: 21px solid #e5eef0;
  border-top: 21px solid transparent;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  z-index: 9999;
}
.news-item.reversed-order .news-item__description::after {
  content: '';
  display: block;
  position: absolute;
  left: 43.9%;
  top: 100%;
  width: 0;
  height: 0;
  border-top: 21px solid #e5eef0;
  border-right: 21px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 21px solid transparent;
  z-index: 9999;
}
.news-item__description span {
  display: block;
}
.news-item__description #spanDay {
  font-size: 36px;
  color: #23282f;
  font-family: 'Raleway';
  font-weight: bold;
}
.news-item__description #spanDate {
  font-size: 18px;
  text-transform: uppercase;
}
.news-item__description .news-item__title {
  margin-top: 24px;
}
.news-item__description .news-item__content {
  font-size: 14px;
  font-family: 'Open Sans';
  line-height: 1.8;
  color: #55595f;
}
.news-item__description button {
  margin-top: 10px;
}

/* News Deatils Page */
.news img{
  width: 1970px;
  height: 428px;
  max-width: 100%;
  background: #8d8d8d;
}
.news-description{
  width: 1970px;
  height: 428px;
  max-width: 100%;
  background: #e5eef0;
}
.news-description p{
  margin-left: 60px;
  color: #4d4d4d;
  text-align: center;
}
.news-description-date{
  margin-left: 500px;
}
.news-description h2{
  margin-top: 30px;
  margin-left: 450px;
}
.news-description-buttons{
  margin-left: 400px;
  margin-top: 40px;
}
#spanDateSummary{
  font-size: 60px;
  font-weight: bold;
}
/*#spanDay{
  color: red;
  margin-left: 20px;
  font-size: 60px;
  font-weight: bold;
}*/
.button1{
  margin-right: 15px;
}
/*Services*/
.single-item:hover .icon-color {
  color: #f7941d;
}
.icon-color:hover {
  background: #fff;
}

.single-item:hover .single-service-btn {
  background: #f7941d;
}
div.services {
  margin-bottom: 95px;
}
