/**** Resets ****/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: none;
  outline: none;
}

*:focus {
  outline: none;
}

/**** Clearing floats ****/
.clear-fix::before,
.clear-fix::after {
  content: "";
  display: table;
}
.clear-fix::after{
  clear: both;
}

/**** Grid System ****/
.row::before,
.row::after {
  content: "";
  display: table;
}
.row::after{
  clear: both;
}

/* 1- This is an attribute selector */
[class*='col-'] { /* 1 */
  float: left;
  padding: 10px;
}

/* 1- Floats last ".col-" to the right */
[class*='col-']:last-of-type { /* 1 */
  padding-right: 10px;
  float: right;
}

.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66%;
}
.col-10 {
  width: 83.33%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66%;
}
.col-7 {
  width: 58.33%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66%;
}
.col-4 {
  width: 33.33%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.6666666667%;
}
.col-1 {
  width: 8.33%;
}

/**** Styles ****/
/* Used for testing */
.borderR {
  outline: 1px solid red;
}
.borderB {
  outline: 1px solid blue;
}

/*
Visually hides text,
 however text will be still read by screen readers
Source: https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/
*/
.screen-reader {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.wrapper {
  background-color: #ffffff;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* Section3 Nouran Mamdouh 25-4003 */
.title-section3{
  margin-top: 90px; 
  margin-bottom: -50px; 
  width: 210px;
  height: 80px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Raleway';
}
.section3{
  padding-left: 200px;
}
.title-section3 h1{
  color: #000000;
  margin-bottom: 2px;
}
.title-section3 p{
  margin-top: 0px;
  color: #545454;
}
.items div{
  display: inline-block;
  font-size: 11px;
  color: #000000;
}
.items h1{
  margin-top: 40px;
  color: #545454;
  font-size: 15px; 
  margin-left: 70px;
}
.items p{
  margin-top: -2px;
  width: 200px;
  margin-left: 70px;
  color: #7e7e7e;
}
.items img{
  margin-top: 40px; 
  float: left;
  width: 50px;
  height: 50px;
}
.more-features{
  margin-top: 30px;
  margin-left: 350px;
}
.more-features a{
  text-transform: uppercase;
  color: white;
  background: #52C9E0;
  text-decoration: none;
  border-radius: 25px;
  padding: 8px; 
  padding-left: 20px;
  padding-right: 20px;
  font-size: 6px;
  
}