/**** Resets ****/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  padding: 0;
}

*:focus {
  outline: none;
}

ul, ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/**** Clearing floats ****/
.clear-fix::before,
.clear-fix::after {
  content: "";
  display: table;
}
.clear-fix::after{
  clear: both;
}

/**** Grid System ****/
.row::before,
.row::after {
  content: "";
  display: table;
}
.row::after{
  clear: both;
}

/* 1- This is an attribute selector */
[class*='col-'] { /* 1 */
  float: left;
  padding: 10px;
}

/* 1- Floats last ".col-" to the right */
[class*='col-']:last-of-type { /* 1 */
  padding-right: 10px;
  float: right;
}

.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66%;
}
.col-10 {
  width: 83.33%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66%;
}
.col-7 {
  width: 58.33%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66%;
}
.col-4 {
  width: 33.33%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.6666666667%;
}
.col-1 {
  width: 8.33%;
}

/**** Basic Styles ****/
/* Used for testing */
.borderR {
  outline: 1px solid red;
}
.borderB {
  outline: 1px solid blue;
}

/*
Visually hides text,
 however text will be still read by screen readers
Source: https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/
*/
.screen-reader {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
.wrapper {
  background-color: #ffffff;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* Section3 Nouran Mamdouh 25-4003 */
.section3{
  padding: 90px;
}
.title-section3{
  margin-bottom: -50px;
  width: 210px;
  height: 80px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Raleway';
  margin-left: 10px;
}
.title-section3 h1{
  color: #000000;
  margin-bottom: -8px;
  font-weight: bold;
}
span { font-weight: bold; }
.title-section3 p{
  color: #545454;
}
.items div{
  display: inline-block;
  font-size: 11px;
  color: #000000;
}
.items h1{
  margin-top: 40px;
  color: #545454;
  font-size: 15px;
  margin-left: 70px;
}
.items p{
  margin-top: -2px;
  margin-left: 70px;
  color: #7e7e7e;
}
.items img{
  margin-top: 40px;
  float: left;
  width: 50px;
  height: 50px;
}
.more-features{
  margin-top: 30px;
  margin-left: 440px;
}
.more-features a{
  text-transform: uppercase;
  color: white;
  background: #52C9E0;
  text-decoration: none;
  border-radius: 25px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 6px;
}
.special-img {
  width: 1056px;
  text-align: right;
  border-bottom: 0.5px solid #D4F1F7;
  margin-top: 10px;
}
.special-img img {
  width: 120px;
  height: 60px;
  margin-bottom: -4.5px;
}
/**** General Styles ****/
.banner {
  height: 50px;
  line-height: 50px;
  background-color: #e5eef0;
}
.banner p {
  margin: 0;
}
.banner ul {
  float: right;
  margin: 0;
}
.banner ul li {
  display: inline-block;
  padding: 0px 28px;
}
.banner ul li:not(:last-of-type) {
  border-right: 1px solid #d8e3e6;
}
.banner ul li span {
  color: #93a1a7;
  padding-right: 8px;
}
.banner ul li span.fa.fa-mobile {
  font-size: 22px;
  vertical-align: sub;
}
.banner ul li span.fa.fa-envelope-o {
  font-size: 17px;
  vertical-align: text-bottom;
}
.banner,
.header nav {
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  font-size: 13px;
  text-transform: uppercase;
  color: #93a1a7;
}

.header {
  height: 76px;
  line-height: 76px;
}
.header .container {
  text-align: right;
}
.header h1, ul {
  margin: 0px;
}
.header .icon-container {
  float: left;
}
.header .logo {
  vertical-align: middle;
}
.header nav {
  display: inline-block;
}
.header nav ul li {
  display: inline-block;
  margin-left: 40px;
}
.header nav ul li a {
  border-bottom: 1px solid transparent;
}
.header nav ul li a:not(.active):hover {
  border-bottom: 1px solid #93a1a7;
}
.header nav ul li a.active {
  color: #23282f;
}
.header .down-arrow {
  padding-left: 19px;
  cursor: pointer;
}
.header button {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

/**** Icons ****/
.icon-container {
  display: inline-block;
}

.logo {
  width: 39px;
  height: 33px;
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
}

.down-arrow {
  width: 8px;
  height: 8px;
  background: url("../images/down-arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
}

/**** Buttons ****/
button.default {
  font-family: 'Karla';
  font-size: 15px;
  color: #ffffff;
  background-color: #29c2e1;
  width: 140px;
  height: 38px;
  line-height: 38px;
  border-radius: 38px;
  text-transform: uppercase;
}
button.default:hover {
  background-color: #178AA1;
}

/***** Slider *******/
.home-slider {
  width: 100%;
  height: 750px;
}
.home-slider > div {
  width: 100%;
  height: 100%;
  text-align: center;
  background:url('../images/slide.png') 50% 50% no-repeat no-repeat #CCCCCC;
}

.slide-title {
  font-size: 48px;
  text-transform: uppercase;
  margin-top: 340px;
  margin-bottom: 20px;
}

.slide-sub-title {
  font-size: 14px;
}

/* home-slider Dots */

.home-slider .slick-dots {
  position: absolute;
  bottom: 40px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

/****** General Section Styles *******/

.section-info {
  margin: 100px 0 40px 0;
}
.section-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px;
}

.section-sub-title {
  font-size: 18px;
  text-transform: uppercase;
  margin: 5px;
  color: #4d4d4d;

}

.colored-section { /*Add background color to section*/
  background: #e5eef0;

}
/* Testimonials */

.testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
}

.testimonials blockquote {
  font-style: italic;
  font-size: 15px;
  color: #4d4d4d;
  line-height: 1.5;
  margin-top: 40px;
}
.quote-icon {
  margin-top: 40px;
}
.testimonials .quote-icon::after {
  font-family: FontAwesome;
  font-size: 60px;
  content: "\f10d";
}

.clients-logos {
  margin-top: 100px;
}

.logos-bullets {
  text-align: center;
}

.logos-bullets button {
  width:  15px;
  height: 15px;
  margin: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.logos-bullets button.bullet-active {
  background: #F59331;
}

.testimonials blockquote > .qoute-author span {
  color: #F59331;
}

.qoute-author {
  margin: 40px 0;
}

/****Pricing Tables****/

div.single-scheme {
  width: 260px;
  height: 425px;
  border: 1px solid #E6EDEE;
  text-align: center;
  padding: 35px 0px;
  background: #fff;

}
.single-scheme p {
  width: 100%;
  border: 1px solid #E6EDEE;
  border-right: 0px;
  border-left: 0px;
  line-height: 60px;
}

.single-scheme p > span {
  color: #F59331;
}
.single-scheme-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}
.single-scheme ul.single-scheme-advantages {
  width: 100%;
  height: 200px;
}

.single-scheme-advantages li {
  margin: 25px 0;
}

div.featured-scheme {
  background: url('../images/recommended-strip.png') 0% 0% no-repeat no-repeat #fff;
  box-shadow: 0px 0px 50px 10px #EEF1F4;
}

/******Team*******/

section.team {
  padding-bottom: 100px;
}
div.employee-info {
  background: #fff;
  width: 263px;
/*  width: 263px;
  height: 400px;*/
}

div.employee-data {
  width: 263px;
  height: 125px;
  padding-left: 30px;

}

h5.employee-name {
  text-transform: uppercase;
  margin-bottom: 5px;
}

p.employee-position {
  color: #F59331;
}

div.employee-social-icons {
  color: #ADBDC1;
}

div.employee-social-icons > i {
  padding: 0 5px;
}
